@media(max-width:768px){
    .select_width{
        width: 100%!important;
    }
    .text-align-right{
        text-align:left!important;
    }
    .pull-right{
        float: left!important;
        margin-top:-40px!important;
    }
    .margin-top-70{
        margin-top:70px!important;
    }
    .dashboard{
        display:none!important;
    }
}
@media(max-width:991px){
    .pull-right{
        float: left!important;
        margin-top:-40px!important;
    }
    .margin-top-70{
        margin-top:70px!important;
    }
    .dashboard{
        display:none!important;
    }
    .add-event-session-btn{
        right:0!important;
        float: left!important;
    }
    .delete-event-session-btn{
        right:0!important;
        float: left!important;
    }
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar-mini .sidebar .ksa a{
        display:none;
    }
    

}
.navbar-right{
    margin-right:10px;
}
.padding-lr-50px{
    padding:0px 50px!important;
}
.perfect-scrollbar-off .sidebar .sidebar-wrapper, .perfect-scrollbar-off .main-panel{
    overflow-x: hidden;
}
#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

.third {
  width: 33.333333%
}

.movingTabS {
  width: 178px;
  transform: translate3d(-8px, 0px, 0px);
  transition: transform 0s;
}

.tableImageDiv img {
  width: 200px
}

.tableImage {
  width: 200px
}

.fireadminbar {
  margin-top: -100px;
  margin-left: 0px
}

.breadcrumbSeparator {
  margin-left: 20px
}

.flright {
    float:right;
}


.iphoneImg {
   position: relative;
   width: 100px; /* for IE 6 */
   height:300px;
}

.pushText {
   position: absolute;
   top: 424px;
   left: 120px;
   width: 60%;
   font-size:16px;
   color: black;
}

.header h2 {
	text-align:center;
}

.margin-bottom-10px{
	margin-bottom:20px;
}

.text-align-center{
    text-align:center!important;
}
.margin-padding-0 .form-group{
    margin:0px;
    padding:0px;
}
.label-color{
    font-size: 14px!important;
}

.text-align-right{
    text-align:right;
}
.margin-top-25px{
    margin-top:25px;
}
.padding-10{
    padding:10px;
}
.margin-tb-15{
    margin-top:15px;
    margin-bottom: 15px;
}

.btn-width{
    font-size:16px;
    width:120px;
    margin-left:10px;
}
.btn-size{
    width:130px;
    margin-left:10px;
}
.simple-text{
    font-size:12px;
}
.notification{
    position: absolute;
    top:5%;
    right:5%;
    text-align: justify;
}
.alert-notification{
    background-color:#DC2465;
    color:white;
    font-size:12px;
}
.font-size{
    font-size:12px!important;
    padding:12px 30px!important;
    text-decoration: none!important;
}
.font-size-12px{
    font-size:12px!important;
}
.skylight-close-button{
    display: none;
}
.margin-tb{
    margin-top:-20px;
    margin-bottom: -5px;
}
.athlete{
    display:none;
}
.skylight-dialog{
    z-index:4999!important;
}
.padding-right-5{
    padding-right:5px;
}
/* accordion */
#accordion .panel-heading { padding-top: 20px;}
#accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
    outline: none;
    font-weight:bold;
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"v";
    float: right;
    font-family: 'Glyphicons Halflings';
	margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"^";
}
/* accordian ends */
.picture-src{
    height: 100px!important;
    width: 100px!important;
}
/* #wizard-picture{
    background: url(../../assets/img/default-avatar.png) no-repeat right center;
    height: 100px!important;
    width: 100px!important;
} */
input[type=file] {
    padding-right:200px;
}
.padding-right{
    padding-right:200px;
}
.display-block{
    display:block;
}
.margin-lr-5{
    margin:0px 5px!important;
}
.select_width{
    width: 140%;
    margin: 16px 0px 0px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* background color for skylight */
.skylight-overlay{
    height:10000%!important;
}
/* background color for skylight */
.tableImage{
    width:80px!important;
}
button, input, select, textarea{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
}
/* Accordion */
.accordion{
    margin:10px;
}
.accordion .accordion-item.active .title , .accordion .accordion-item.active .panel{
    background-color: white!important;
}
.accordion .accordion-item .panel{
    overflow-y: auto!important;
}
.accordion .accordion-item:last-child .title{
    font-size: 20px!important;

}
.accordion .accordion-item:last-child .title:hover{
    color:#E82062;
}
.accordion .accordion-item.active .title{
    color:#E82062;
}
.accordion .accordion-item .title:after{
    content: '\2335'!important; 
    font-size: 18px!important; 
}
.accordion .accordion-item .title:hover:after{
    color:#E82062!important;
    font-size: 18px!important; 
}
.accordion .accordion-item.active .title:after{
    content: '\1431'!important;/*1431,2227*/ 
    color:#E82062; 
    font-size: 12px!important;
}

/* Accordion */
.footer .copyright{
    text-align: center;
}

.deleteAlertBtnColor {
    background-color:#E82062 !important;
    padding:10px 0px!important;
    width:110px!important;
    text-decoration: none!important;
}
.loadingBtnDisplay{
    display:none!important;
}
.margin-left-25px {
    margin-left:25px;
}
/* Multiple accordion */
.card-styling{
    margin:0px 10px!important;
    /* border-radius: 50px!important; */
    padding: 0px 5px!important;
    display:inline !important;
}
/* Multiple Accordion */
.add-event-session-btn{
    font-size: 10px!important;
    width: 100px!important;
    padding: 5px!important;
    border-radius: 15px!important;
    float: right;
    right:6%;
}
.add-session-btn{
    font-size: 10px!important;
    width: 100px!important;
    padding: 5px!important;
    margin-left:3%!important;
    border-radius: 15px!important;
}
.delete-event-session-btn{
    font-size: 10px!important;
    width: 100px!important;
    padding: 5px!important;
    border-radius: 15px!important;
    float: right;
    right:4%;
}
.close-event-session-btn{
    font-size: 10px!important;
    width: 100px!important;
    padding: 5px!important;
    border-radius: 15px!important;
    float: right;
    right:8%;
}
.u-position-relative , .margin-0{
    margin-top:0px!important;
}
.accordion__title{
    padding:5px!important;
}
.accordion__body{
    padding:10px!important;
}
.margin-right-2{
    margin-right: 2px !important;
}
.accordion__arrow{
    right:6px!important;
    margin-top:0px!important;
}
/* End Multiple Accordion */
.td-actions{
    white-space: nowrap!important;
}
.select-styling{
    border:1px solid #CCC!important;
    border-radius: 4px!important;
    background-image:none!important;
}
.move-styling{
    text-align: left!important;
    font-size:14px!important;
    margin-top:25px!important;
    color:#AAAAAA!important;
}
.border-styling{
    border:1px solid #d9d9d9!important;
    border-radius:4px!important;
    background-image: none!important;
}
.title-move-styling{
    text-align: left!important;
    font-size:18px!important; 
    color:black!important;
    line-height: 0.5em!important;
}
.card{
    box-shadow: none!important;
}
.margin-tl{
    margin-top:-37px!important;
    margin-left:-10px!important;
    /* margin-bottom:0px; */
}
.display-inline{
    display:inline;
}
.Select-placeholder{
    text-align:left!important;
    font-size:14px!important;
}
.Select-option{
    padding: 2px 10px!important;
    text-align:left!important;
    font-size:14px!important;
}
.inactive {
    background-color: #FE970F!important;
    opacity: 0.7;
}
.ol-styling{
    height: 90px;
    overflow-y: auto;
    border:2px solid #F1F1F1;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
    font-size:14px!important;
}